/*Box CSS*/
.boxvn-3 {
    border-top: 5px solid #e8641b;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
h3.vlist {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    margin-top: -4px;
}
.boxvn-4 {
    border: 1px solid #006599;
    border-radius: 6px;
    padding: 10px 10px 1px 10px;
    margin: 15px 0;
}
.boxvn-1 {
    border: 3px dotted #757575;
    border-radius: 6px;
    padding: 15px 10px 1px 10px;
    background: #fffed7;
    margin: 15px 0;
}
.boxvn-2 {
    border: 2px solid #b9ddff;
    border-radius: 6px;
    padding: 15px 10px 1px 10px;
    background: #e7f3ff;
    margin: 15px 0;
}
