.bao-chi .icon-box-img.testimonial-image.circle {
    border: unset !important;
}
.bao-chi .icon-box-left .icon-box-img+.icon-box-text {
    padding: 10px!important;
    border: 1px solid #e0e0e0!important;
    margin: 0px 0px 10px 15px!important;
    border-radius: 10px!important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
