.bingotieude .bhs-wrapper .bhs-title {
  font-size: 17px !important;
}
/*Code tiêu đề cho bingodoanhnghiep*/
.bingodoanhnghiep .bhs-content-divider {
  display: none;
}
.bingodoanhnghiep .bhs-header {
  margin-bottom: 6px !important; }

.bingodoanhnghiep .bhs-wrapper .bhs-title {
  font-size: 17px !important;
  }
.bingodoanhnghiep .bhs-wrapper {
    padding: 15px 10px 0px 5px !important;
}
