.bingotieude .bhs-wrapper .bhs-title {
  font-size: 17px !important;
}
/*Code tiêu đề cho bingodoanhnghiep*/
.bingodoanhnghiep .bhs-content-divider {
  display: none;
}
.bingodoanhnghiep .bhs-header {
  margin-bottom: 6px !important; }

.bingodoanhnghiep .bhs-wrapper .bhs-title {
  font-size: 17px !important;
  }
.bingodoanhnghiep .bhs-wrapper {
    padding: 15px 10px 0px 5px !important;
}
.bingodoanhnghiep .bhs-wrapper .bhs-subtitle {margin: 3px 0 0 0 !important;}

/*Khung tác giả*/
.bvtg-post-title {
    color: #111!important;;
}
.article-inner h3:before {display: none!important;}
.bvtg-title2 {
  font-size: 20px;
  color: #0b1a30;
}
.bvtg-avatar img {border-radius: 50%!important;}
.bvtg-more-btn {color: #1b5ed8!important;}
.bvtg-container {
    border: 1px solid #c4c4c4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/*Code review*/
.dgkh-box img {
    border-radius: 8px;
}
.vtr-review .vtr-img {
    border-radius: 12px;
}
.vtr-review {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 16px 18px 10px 18px!important;
}
button.vtr-pill {
    margin-right: -3px;
}
button.vtr-btn.vtr-open-form {
    margin-bottom: 0px;
}
.vtr-review .button,.vtr-review button,.vtr-review input,.vtr-review textarea,.vtr-review select,.vtr-review fieldset {
    margin-bottom: 0px;
    margin-right: 0px!important;
}
