.bingotieude .bhs-wrapper .bhs-title {
  font-size: 17px !important;
}
/*Code tiêu đề cho bingodoanhnghiep*/
.bingodoanhnghiep .bhs-content-divider {
  display: none;
}
.bingodoanhnghiep .bhs-header {
  margin-bottom: 6px !important; }

.bingodoanhnghiep .bhs-wrapper .bhs-title {
  font-size: 17px !important;
  }
.bingodoanhnghiep .bhs-wrapper {
    padding: 15px 10px 0px 5px !important;
}
.bingodoanhnghiep .bhs-wrapper .bhs-subtitle {margin: 3px 0 0 0 !important;}

/*Khung tác giả*/
.bvtg-post-title {
    color: #111!important;;
}
.article-inner h3:before {display: none!important;}
.bvtg-title2 {
  font-size: 20px;
  color: #0b1a30;
}
.bvtg-avatar img {border-radius: 50%!important;}
.bvtg-more-btn {color: #1b5ed8!important;}
.bvtg-container {
    border: 1px solid #c4c4c4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.bvtg-desc {font-size: 14.5px!important;}
.bvtg-container {font-faminy: Helvetica, Arial, sans-serif!important;}
/*Code review*/
.dgkh-box img {
    border-radius: 8px!important;
}
.vtr-review .vtr-img, .vtr-img img {
    border-radius: 12px!important;
}
.vtr-review {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 16px 18px 0px 18px!important;
}
button.vtr-pill {
  margin-right: -3px;
  margin-bottom: 1px;
}
button.vtr-btn.vtr-open-form {
    margin-bottom: 9px;
}
button.vtr-page {
    margin-right: 0px;
    margin-bottom: 6px;
}
.vtr-thumb img {
    border-radius: 12px !important;
}
.vtr-mid-title {margin-bottom: 12px!important;}
.vtr-header {gap: 10px!important; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}
.vtr-reply-item {
    margin-top: -8px !important;
    margin-bottom: 13px;
}
button, .button {
    touch-action: pan-x pan-y;
}
.vtr-pill {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
@media (max-width: 820px) {
    .vtr-header {
        padding: 13px 18px 5px 18px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border: 1px solid #d2d2d2;
    }
  .vtr-filters {
        padding: 6px 14px 5px 14px!important;
    }
}
.bvtg-title2 {
    font-size: 22px !important;
}
/*trangchu*/
.trangchu-post h5.post-title.is-large {
    font-size: 14.5px !important;
    line-height: 22px;
}

@media screen and (min-width: 550px) {
.trangchu-post .image-cover {
    padding-top: 100% !important;
    border-radius: 10px;
}
  .trangchu-tab .col-inner {
    border: 1px solid #a7a7a7;
    border-radius: 25px;
}
.trangchu-tab img.attachment-medium.size-medium.wp-post-image {
    border-radius: 25px 25px 0px 0px;
    padding: 1px;
}
.trangchu-tab .box-text.text-center {
	padding: 10px 13px!important;
    height: 85px!important;
}
}
@media screen and (max-width: 549px) {
.trangchu-tab .image-cover {
    padding-top: 100% !important;
}

.trangchu-tab .box-image{
        width: 15%!important;
        border-radius: 50%;
}
.trangchu-tab .box-text.text-center {
    padding: 0px 5px 10px 5px !important;
}
.trangchu-tab .col.post-item {
    padding: 0px 0px 0px 6px;
}
.trangchu-tab .box-text.text-center {
    width: 81% !important;
}
}
/*Giới hạn dòng của title nếu không thì chỉnh trong box-text text-center*/
.trangchu-tab h5.post-title.is-large {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.trangchu-tab h5.post-title.is-large {
    font-size: 14.7px !important;
    color: #141414 !important;
	line-height: 21px;
}
.tai-lieu-luyen-thi .widget_nav_menu .widgettitle {
    text-align: center;
    border: 1px solid #959595;
    padding: 10px !important;
    border-radius: 25px;
	margin-bottom: 12px;
}
.thucte .img-inner {
    border: 1px solid #a6a6a6;
	border-radius: 25px 0px 25px 0px;
}
/*Tieude trang chu*/
.bingotrangchu .bhs-wrapper {
	padding: 0px!important;
	margin: 0px 0px 25px 0px !important;
	border: none !important;
	box-shadow: none !important;
	}
.bingotrangchu .swiper {
	padding: 0px!important;
}
.bingotrangchu .bhs-content-divider, .bingotrangchu .swiper-pagination {
	display: none!important
}
.home #main {
    background-color: #ffffff !important;
}
.bingomax-desc {
	font-size: 13.5px!important;
	}
/*Menu Khóa học*/
.bmktz-header {
    font-size: 14px!important;
    font-weight: 600!important;
background: #006cca !important;
    padding: 12px 18px!important;
	}
.bmktz-item-desc {
    font-size: 13px!important;
    margin-top: 3px!important;
}
.bmktz-btn {
    background: #e8641b;
}
@media (min-width: 769px) {
    .bmktz-mega-panel {
	width: 699px!important;
	}}
